################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/linksprite.bargraph.rpipico/FileContentIndex/6212519b-7c21-464d-9573-f186d5e21f2e.vsidx
/.vs/linksprite.bargraph.rpipico/FileContentIndex/c26e2026-0447-45cb-9b27-928f398d4282.vsidx
/.vs/linksprite.bargraph.rpipico/FileContentIndex/a3c3aac5-e208-45b8-908e-a73f938d3095.vsidx
/.vs/linksprite.bargraph.rpipico/FileContentIndex/70b9118d-acbc-4524-95ff-8db195b6e408.vsidx
/.vs/linksprite.bargraph.rpipico/v17/.wsuo
/.vs/linksprite.bargraph.rpipico/FileContentIndex/7e46c31c-ca63-4a9a-857c-22fd6d5973c1.vsidx
/.vs/linksprite.bargraph.rpipico/FileContentIndex/15d0ae02-2127-4818-8e28-6fccd73857f8.vsidx
/.vs/linksprite.bargraph.rpipico/FileContentIndex/2fb466aa-1717-4719-94e3-d21bf835f1b0.vsidx
/.vs/linksprite.bargraph.rpipico3/FileContentIndex
